.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #eee;
  padding: 15px;
}

.shadow {
  box-shadow: rgba(102, 102, 102, 0.5) 4px 4px 4px;
}

.borderColor {
  border-left: 1px solid #2ea3f2;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
