.div {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 500px) {
    justify-content: start;
    width: 100%;
  }
}

.nav {
  line-height: 0;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.ul {
  text-decoration: none;
  list-style: none;
  display: flex;

  @media (max-width: 500px) {
    flex-direction: column;
    width: 100%;
  }
}
