.div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  line-height: 0;
}

.ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.li {
  display: inline-block;
  padding-right: 22px;
}
